grant codeBase "file:${user.dir}/target/test-classes/-" {
	permission java.lang.RuntimePermission "setSecurityManager";
	permission java.util.PropertyPermission "java.*", "read";
	permission java.util.PropertyPermission "java.security.manager.log_mode", "write";
};
