grant codeBase "file:${user.home}/.m2/repository/-" {
	permission id.thrawnca.security.GuestPass "java.lang.RuntimePermission", "setSecurityManager";
	permission id.thrawnca.security.GuestPass "id.thrawnca.security.TestPermission", "granted|*";
};

grant codeBase "file:${user.dir}/target/test-classes/-" {
	permission id.thrawnca.security.TestPermission "granted";
	permission java.lang.RuntimePermission "setSecurityManager";
	permission java.util.PropertyPermission "java.security.manager.log_mode", "write";
};
